*{
    box-sizing: border-box;
    font-family: Poppins; 
    margin: 0;
    padding: 0;
}

.bar{
    max-width: 1280px;
    margin: auto;
}

span{
    color:#EA1C2C;
    padding-right: 50px;
}

button{    
    border: 1px solid #EA1C2C;
    padding: 10px 20px;
    background-color: #EA1C2C;
    color: white;
    cursor: pointer;
    border-radius:40px;
    transition:all 0.5s;
}

button:hover,button:focus{
    border-color: #f378ed;
    color: #ffffff;
    box-shadow: 0px 5px 10px -3px #ffffff;
    background-color: #f378ed;
}


.flex{
    display: flex;
    align-items:center;
    justify-content: space-between;    
}

header{
    width: 100%;
    padding: 60px 4%;    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header.rolagem{
    background-color:#f3d5d0;
    padding: 20px 4%; 
    box-shadow: 5px 0.5px 15px rgba(0, 0, 0, 0.418);
    transition: 2s;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 20px;
}

header ul li a{
    color:  rgb(255, 255, 255);
    text-decoration: none;
}

ul>li>a:hover,ul>li>a:focus{
    color: #EA1C2C;
    transition: 1.5s;
    cursor: pointer;    
}
.icon{       
    max-width:60px; 
    height:auto;     
    margin: 0;
    padding: 0;        
}

.container,.container2{
    background-color:  #f5d9d5; 
}


.container{
    padding-top: 50px;
}

.candy{   
    font-size:50px;
    font-weight: 250;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.barra{
    color: #EA1C2C;
}

img{
   max-width: 900PX;
   height:850px;
   border-radius: 50%;
   margin-top: 100px;
   padding: 50px;
}

/* .hand{
    position: relative;
    right:45px;
    z-index: 1;
} */

.container2{
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    width: 100%;    
    padding: 60px;

}

.candy2{
    flex: 1;
    font-weight: 250;
    text-transform: uppercase;
    color: #eA1C2C;
    text-align: center;
}

.lorem1, .lorem2, .lorem3{   
    padding-left:10%;
    padding-right: 10%;
    text-transform: none;
    font-size: 18px;
    text-align: justify;
    color: rgb(241, 117, 137);
}

.loli{
   flex:1;
   max-width: 20%;
   height: auto;
}

.titulo-h2{
    font-size: 30px;
    font-weight: 300;
}



.secoes{
    max-width: 100%;
    
}

.informacoes{
    display: flex;
    
    background-color: #f1b7af;
}

.info1, .info2, .info3{
    padding-top:50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #e0c4df;
    font-size:14px ;
    color: white;
    border-right: 1px solid rgb(255, 255, 255);
}

.info3{
    border-right: none;
}

.lorem-h1{
    background-color: #e0c4df;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}

.lorem4{
    background-color: #e0c4df;
    font-weight: 300;
    padding-bottom: 30px;
    text-align: justify;
}

@media screen  and (max-width: 768px) {

    img {
        height: auto;
        width: 90%;
        margin-top: 20px;
        padding: 10px;
        border-radius: 40px;
    }

    .hand{
        position: relative;
        left:0px;      
    }

    button{
        right: 50px;
        margin: auto;
    }

    .icon{       
        max-width:60px; 
        height:auto;     
        margin: 0;
        padding: 0;        
   }

   

   .container{
        padding-bottom: 10PX;
        align-items: center;
   }
   

    .container, .container2 {
        display: flex;
        flex-direction: column; 
        padding:60px;        
    }
    

    .lorem1, .lorem2, .lorem3 {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 16px;
        text-align: justify;
    }

    .titulo-h2{
        font-size: 24px;
    }
    
    .candy{
        padding-top: 100px;
        font-size: 40px;
    }

    .leite{
        order: 2;
    }

    .taca{
        order: 2;
        padding-bottom: 20px;
    }
}

@media screen and (min-width:390px)and (max-width:600px){

    header{
        display: none;
    }
 
    img{
        width: 100%;
        margin: auto;
    }
    
    .candy{
        font-size:30px;
        padding-top: 70px;
    }
    
    .info1,.info2,.info3{
        display: flex;
        flex-direction:column;        
        padding: 5px;
        
    }

    

    .lorem-h1{
        text-align: justify;
        font-size:15px;
        color: #ffffff;
        padding-bottom: 5px;
    }

    .lorem4{  
        font-size: 12px;
        text-align: justify;
    }
    .container{
        align-items: center;
    }
}




@media screen and (min-width:770px)and (max-width:1324px){
   
    .container{
        display: flex;
        flex-direction: column;
        padding-top: 10em;
        align-items: center;
    }

    .container2{
        display: flex;
        flex-direction: column;
    }

    .candy{
        font-size:clamp(30px, 10vw, 50px);
    }

    img{       
        max-width: 700PX;
        height:auto;
        border-radius: 20%;
        margin-top: 100px;
        padding: 50px;
        object-fit: cover;
     }

    .hand{
        position: relative;
        left: 00px;
    }
   

    .leite{
        order: 2;
    }

    .taca{
        order: 2;
        padding-bottom: 20px;
    }

    .loli{        
        max-width: 182px;
        max-height: 182px;
        margin: 0;
     }

    .icon{       
        max-width:60px; 
        height:auto;     
        margin: 0;
        padding: 0;        
   }
}

@media screen and (min-width:1325px) {
    .container{
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .hand{
        width:850PX;
        height:800px;
        object-fit: cover;
    }

    .candy{
        font-size: 45px;
        padding-left: 55px;
    }

    .loli{        
        max-width: 182px;
        max-height: 182px;
     }
}