*{
    box-sizing: border-box;
    font-family: Poppins; 
    margin: 0;
    padding: 0;  
}

.bar{
    max-width: 1280px;
    margin: auto;    
}

span{
    color:#EA1C2C;
    padding-right: 50px;
}

button{
    position: absolute;
    right: 250px; 
    top: 50%; 
    transform: translateY(-50%); 
    border: 1px solid #EA1C2C;
    padding: 10px 20px;
    background-color: #EA1C2C;
    color: white;
    cursor: pointer;
    border-radius:40px;
    transition:all 0.5s;
}

button:hover{
    border-color: #f378ed;
    color: #ffffff;
    box-shadow: 0px 5px 10px -3px #ffffff;
    transform: translateY(-20px);
    background-color: #f378ed;
}

.flex{
    display: flex;
    align-items:center;
    justify-content: center;
}

header{
    width: 100%;
    padding: 60px 4%;    
    position: fixed;
    top: 0;
    left: 0;
}

header.rolagem{
    background-color:#f3d5d0;
    padding: 20px 4%; 
    box-shadow: 5px 0.5px 15px rgba(0, 0, 0, 0.418);
    transition: 2s;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color:  rgb(255, 255, 255);
    text-decoration: none;
}

ul>li>a:hover{
    color: #EA1C2C;
    transition: 1.5s;
    cursor: pointer;    
}

ul>li>a:focus{
    color: #EA1C2C;
}

.icon{
    position: absolute;
    left:220px; 
    top: 50%; 
    transform: translateY(-105%);
    max-height: 180px;
}


.container,.container2{
    background-color:  #f5d9d5; 
}


.container{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 50px; 
}

.candy{
    flex: 1;    
    font-size:50px;
    font-weight: 250;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.barra{
    color: #EA1C2C;
}

img{
   flex:1;
   max-width: 930PX;
   height:850px;
   border-radius: 50%;
   margin-top: 100px;
   padding: 50px;

}

.container2{
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    width: 100%;    
    padding: 60px;

}

.candy2{
    flex: 1;
    font-weight: 250;
    text-transform: uppercase;
    color: #eA1C2C;
    text-align: center;
}

.lorem1, .lorem2, .lorem3{   
    padding-left:10%;
    padding-right: 10%;
    text-transform: none;
    font-size: 18px;
    text-align: justify;
    color: rgb(241, 117, 137);
}

.loli{
   flex:1;
   max-width: 20%;
   height: auto;
}

.titulo-h2{
    font-size: 30px;
    font-weight: 300;
}



.secoes{
    max-width: 100%;
    
}

.informacoes{
    display: flex;
    
    background-color: #f1b7af;
}

.info1, .info2, .info3{
    padding-top:50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #e0c4df;
    font-size:14px ;
    color: white;
    border-right: 1px solid rgb(255, 255, 255);
}

.info3{
    border-right: none;
}

.lorem-h1{
    background-color: #e0c4df;
    color: #ffffff;
    font-weight: 300;
}

.lorem4{
    background-color: #e0c4df;
    font-weight: 300;
    padding-bottom: 30px;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    
    header ul li {
        display: inline-block; 
        margin:0 20px;
        text-align: center;
        justify-content:center;
        position: relative;
        left: -40px;
    }
    
    .doce{
        position: relative;
        left: -30px;
    }
    

    img {
        height: auto;
        width: 90%;
        border-radius: 0;
        margin-top: 20px;
        padding: 10px;
        border-radius: 40px;
    }

    button{
        right: 50px;
        margin: auto;
    }

    .icon{
     left:-100px; 
     top:0; 
     transform: translateY(0%);
     max-width: 50px; 
     height:auto;     
     position: relative; 
     margin: 0;
     padding: 0;
}    

    .container, .container2 {
        display: flex;
        flex-direction: column; 
        padding:60px;        
    }
    

    .lorem1, .lorem2, .lorem3 {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 16px;
        text-align: justify;
    }

    .titulo-h2{
        font-size: 24px;
    }
    
    .candy{
        padding-top: 100px;
    }

    .leite{
        order: 2;
    }

    .taca{
        order: 2;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:430px){

    header{
        display: none;
    }

    img{
        width: 100%;
        margin: auto;
    }
    
    .candy{
        font-size:30px;
        padding-top: 70px;
    }
    
    .info1,.info2,.info3{
        display: flex;
        flex-direction:column;        
        padding: 5px;
        
    }

    .lorem-h1{
        text-align: justify;
        font-size:15px;
        color: #ffffff;
        padding-bottom: 5px;
    }

    .lorem4{
        font-size: 12px;
        text-align: justify;
    }
}



